@model AdminDashboardBaseModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<div class="bottom-links" style="float: left; margin-right: 55px;">
    <a href="/Admin/List/" data-translation="admin_list_link">admin_list_link</a>
    <a href="/Admin/UserList/" data-translation="user_list_link">user_list_link</a>
    <a href="/Admin/OrganizationList/" data-translation="organization_list_link">organization_list_link</a>
    <a href="/Language/List/" data-translation="language_list_link">language_list_link</a>
    <a href="/Admin/JournalList/" data-translation="journal_list_link">journal_list_link</a>
</div>
<div class="bottom-links" style="float: left">
    <a href="/Admin/UserLoginLogList/" data-translation="user_login_log_list_link">user_login_log_list_link</a>
    <a href="/Admin/TokenRequestLogList/" data-translation="token_request_log_list_link">token_request_log_list_link</a>
    <a href="/Admin/SendEmailLogList/" data-translation="send_email_log_list_link">send_email_log_list_link</a>
</div>
