@model AdminInviteDoneModel

<a href="/Admin/Dashboard" data-translation="admin_dashboard_link">admin_dashboard_link</a>
<h1 data-translation="@Model.Title">@Model.Title</h1>

<div class="bottom-links">
    <a href="/Home/Index" data-translation="home_link">home_link</a>
</div>