@model JournalListModel

<a href="/Admin/Dashboard" data-translation="admin_dashboard_link">admin_dashboard_link</a>
<h1 data-translation="@Model.Title">@Model.Title</h1>

<div class="tbl">
    <table data-result="/Admin/JournalListData/"></table>
</div>
