@model TokenRequestLogListModel

<partial name="Components/_DashboardLink" />
<h1 data-translation="@Model.Title">@Model.Title</h1>

<div class="tbl">
    <table data-result="/Admin/TokenRequestLogListData/"></table>
</div>
