@model OrganizationJournalListModel

<a href="/Organization/Detail/@Model.OrganizationUid" data-translation="organization_link">organization_link</a>
<h1 data-translation="@Model.Title">@Model.Title</h1>

<div class="tbl">
    <table data-result="/Organization/JournalListData/@Model.OrganizationUid"></table>
</div>
