@model OrganizationRevisionReadListModel

<div id="nav-help">
    <a href="/Organization/Detail/@Model.OrganizationUid">@Model.OrganizationName</a>
</div>
<h1  data-translation="@Model.Title">@Model.Title</h1>

<div class="tbl">
    <table data-result="/Organization/RevisionsData/@Model.OrganizationUid"></table>
</div>