@model OrganizationRevisionReadListModel

<div id="nav-help">
    /
</div>
<h1  data-translation="@Model.Title">@Model.Title</h1>

<div class="tbl">
    <table data-result="/Organization/RevisionsData/@Model.OrganizationUid"></table>
</div>