@model OrganizationUserLoginLogListModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<div class="tbl">
    <table data-result="/Organization/UserLoginLogListData/@Model.OrganizationUid"></table>
</div>