<div id="overlay"></div>
<div id="overlayMessage"></div>
<div id="popup">
    <button id="btnHidePopup" onclick="hidePopup()" class="btnRed">x</button>
    <h1></h1>
    <hr />
    <div id="popupContent"></div>
</div>

<div id="popupMessage">
    <button id="btnHidePopupMessage" onclick="hidePopupMessage()" class="btnRed">x</button>
    <h1></h1>
    <hr />
    <div id="popupMessageContent"></div>
</div>