<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="search">
        <input type="text" id="txtSearch" name="txtSearch" placeholder="search label key" value="" onkeyup="filterLabels()" />
        <div id="dropdown" class="search-content">
            <a href="#" id="labelSearchListLink" name="labelSearchListLink" data-translation="label_search_list_link" onclick="openLabelSearchListPage()">label_search_list_link</a>
        </div>
    </div>
</body>
</html>

