@model ProjectRevisionReadListModel

<div id="nav-help">
    <a href="/Project/List" data-translation="projects">projects</a>
    / <a href="/Project/Detail/@Model.ProjectUid">@Model.ProjectName</a>
</div>
<h1 data-translation="@Model.Title">@Model.Title</h1>

<div class="tbl">
    <table data-result="/Project/RevisionsData/@Model.ProjectUid"></table>
</div>