$color-primary: #c96567;
$color-primary-light: #c96567c9;
$color-primary-lightest: #fef0f0;

$color-secondary: #644E5B;

$color-green: #5fd873

/*
Summer cocktail
$color-summer-primary: #ff555f;
$color-summer-second: #ff7354;
$color-summer-light: #ff9871;
$color-summer-lighter: #ffa68a;
$color-summer-lightest: #ffc38a;

$color-primary: #c96567;
$color-primary-light: #c96567c9;
$color-primary-lightest: #fef0f0;

$color-secondary: #644E5B;

$color-green: #5fd873

*/