@model IntegrationDetailModel

<label data-translation="integration_name">integration_name</label>
<h1>@Model.Name</h1>

<div>
    <label data-translation="description">description</label>
    @Model.Description
</div>

<div>
    <label data-translation="organization">organization</label>
    <a href="/Organization/Detail/@Model.OrganizationUid">@Model.OrganizationName</a>
</div>

<div class="bottom-links">
    <a href="/Integration/Edit/@Model.IntegrationUid" data-translation="edit_link">edit_link</a>
    <a href="/Integration/ActiveTokens/@Model.IntegrationUid" data-translation="active_tokens_link">active_tokens_link</a>
    <a href="/Integration/Revisions/@Model.IntegrationUid" data-translation="revisions_link">revisions_link</a>
    <button type="button" class="btnRed"
            data-confirm-title="delete_integration_confirm_title"
            data-confirm-content="delete_integration_confirm_content"
            data-url="/Integration/Delete/"
            data-prm="id=@Model.IntegrationUid"
            onclick="doRedirectIfConfirmedSuccess(this, '/Organization/Detail/@Model.OrganizationUid')"
            data-translation="delete_button">
        delete_button
    </button>
</div>

<h2 data-translation="integration_clients">integration_clients</h2>
<div class="tbl">
    <button type="button" style="margin-top: 5px;"
            data-translation="create_integration_client_link"
            data-confirm-title="create_integration_client_confirm_title"
            data-confirm-content="create_integration_client_confirm_content"
            data-url="/Integration/ClientCreate/"
            data-prm="id=@Model.IntegrationUid"
            onclick="handlePostAndAppendRow(this)">
        create_integration_client_link
    </button>
    <!--
    <table data-result="/Integration/ClientListData/@Model.IntegrationUid"></table>
    -->
    <table id="ClientListTable">
        <thead>
            <tr></tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
<script>
    function showStars(dataId) {

        var td = document.querySelector("td[data-id='" + dataId + "']");
        var hidden = td.getAttribute('data-text');
        td.innerHTML = hidden + " <a class='show' href='javascript:hideStars(`" + dataId +"`);'>hide</a>";
    }
    function hideStars(dataId) {
        var td = document.querySelector("td[data-id='" + dataId + "']");
        td.innerHTML = "***** <a class='show' href='javascript:showStars(`" + dataId +"`);'>show</a>";
    }

    document.addEventListener('DOMContentLoaded',
        () => {
            var clientListTable = document.getElementById("ClientListTable");
            var xhr = new XMLHttpRequest;
            // Get Table Data
            xhr.open('get', "/Integration/ClientListData/@Model.IntegrationUid");
            xhr.send();
            xhr.onload = function() {
                if (this.status === 200) {
                    var thead = clientListTable.querySelector('thead tr');
                    var tbody = clientListTable.querySelector('tbody');

                    var response = JSON.parse(this.responseText);
                    // Insert Headers
                    response.headers.forEach((header) => {
                        thead.innerHTML += "<th data-translation='"+header.key+"'>" + header.key + "</th>";
                    });
                    // Insert Rows
                    response.data.forEach((data) => {
                        var rowString = "";
                        data = data.split(',_,');
                        
                        rowString += "<td data-id='"+data[0]+"-id' data-text='"+data[1]+"'>***** <a class='show' href='javascript:showStars(`"+data[0]+"-id`);'>show</a></td>";
                        rowString += "<td data-id='" + data[0] + "-secret' data-text='" + data[2] + "'>***** <a class='show-hide' href='javascript:showStars(`"+data[0]+"-secret`);'>show</a></td>";
                        rowString += (data[3] === "true") ? "<td><input type='checkbox' disabled checked></td>" : "<td><input type='checkbox' disabled></td>";
                        rowString += "<td>"+data[4]+"</td>";
                        
                        tbody.innerHTML += "<tr>" + rowString + "</tr>";
                    });

                }
            }
        });
</script>
}
