@model IntegrationDetailModel

<label data-translation="integration_name">integration_name</label>
<div>@Model.Name</div>

<label data-translation="description">description</label>
<div>@Model.Description</div>

<label data-translation="organization">organization</label>
<a href="/Organization/Detail/@Model.OrganizationUid">@Model.OrganizationName</a>

<div class="bottom-links">
    <a href="/Integration/Edit/@Model.IntegrationUid" data-translation="edit_link">edit_link</a>
    <a href="/Integration/ActiveTokens/@Model.IntegrationUid" data-translation="active_tokens_link">active_tokens_link</a>
    <a href="/Integration/Revisions/@Model.IntegrationUid" data-translation="revisions_link">revisions_link</a>
    <button type="button" class="btnRed"
            data-confirm-title="delete_integration_confirm_title"
            data-confirm-content="delete_integration_confirm_content"
            data-url="/Integration/Delete/"
            data-prm="id=@Model.IntegrationUid"
            onclick="doRedirectIfConfirmedSuccess(this, '/Organization/Detail/@Model.OrganizationUid')"
            data-translation="delete_button">
        delete_button
    </button>
</div>

<div class="tab-header">
    <button data-translation="integration_clients" class="active">integration_clients</button>
</div>
<div class="tab-body">
    <div class="tbl">
    <button type="button"
                data-translation="create_integration_client_link"
                data-confirm-title="create_integration_client_confirm_title"
                data-confirm-content="create_integration_client_confirm_content"
                data-url="/Integration/ClientCreate/"
                data-prm="id=@Model.IntegrationUid"
                onclick="handlePostAndAppendRow(this)">
            create_integration_client_link
        </button>
        <table data-result="/Integration/ClientListData/@Model.IntegrationUid"></table>
    </div>
</div>

@section Scripts {
    <script>
        var tableChangeInterval = setInterval(() => {
            var table = document.getElementsByTagName('table')[0];
            var rows = table.querySelectorAll('tr');

            if (rows.length > 0) {
                clearInterval(tableChangeInterval);
                rows = table.querySelectorAll('tbody tr');

                rows.forEach((row) => {
                    var columns = row.querySelectorAll("td");
                    for (var i = 0; i < 2; i++) {
                        var secretField = new SecretField(columns[i], i);
                        secretField.hide();
                    }
                });
            };
        }, 5);
    </script>
}
