@model DemandPasswordResetModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<form id="DemandPassword" method="post">
    <partial name="Components/_Email" model="@Model.EmailInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="demand_password_reset_button">demand_password_reset_button</button>
</form>

<div class="bottom-links">
    <a href="/User/LogOn" data-translation="log_on_link">log_on_link</a>
    <a href="/User/SignUp" data-translation="sign_up_link">sign_up_link</a>
</div>
