<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PostmarkKey"  value="" />
    <add key="PostmarkEmail"  value="Translation@basicsoft.co" />
    <add key="DbHostName"  value="cheviridb" />
    <add key="DbName"  value="Translation" />
    <add key="DbUser"  value="postgres" />
    <add key="DbPassword"  value="Translation*pass" />
  </appSettings>
</configuration>