<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbHost"  value="localhost" />
    <add key="DbName"  value="translation" />
    <add key="DbUser"  value="local_user" />
    <add key="DbPass"  value="local_user+-2019*" />
    <add key="DbPort"  value="5432" />

    <add key="SuperAdminEmail"  value="super@admin.com" />
    <add key="SuperAdminFirstName"  value="Super" />
    <add key="SuperAdminLastName"  value="Admin" />
    <add key="SuperAdminPass"  value="Super+-2019" />

    <add key="PostmarkKey"  value="" />
    <add key="PostmarkEmail"  value="info+system@dahusoft.com" />
<add key="SuperAdminPass"  value="Super+-2019*" />

    <add key="Logging"  value="false" />
  </appSettings>
</configuration>


