@model LabelTranslationRevisionReadListModel

<div id="nav-help">
</div>
<h1 data-translation="@Model.Title">@Model.Title</h1>

<div class="tbl">
    <table data-result="/Label/LabelTranslationRevisionsData/@Model.LabelTranslationUid"></table>
</div>