@model LabelSearchListModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

@if (Model.SearchTerm.IsNotEmpty())
{
    <div>
        <label data-translation="label_search_results_for">label_search_results_for</label>
        @Model.SearchTerm
    </div>
}

<div class="tbl">
    <table data-result="/Label/SearchListData?search=@Model.SearchTerm"></table>
</div>

@section Scripts
{
    <script>
        document.getElementById('txtSearch').value = "@Model.SearchTerm";
    </script>
}