@model LanguageListModel

<partial name="Components/_DashboardLink" />
<h1 data-translation="@Model.Title">@Model.Title</h1>

<div class="tbl">
    <a href="/Language/Create" data-translation="create_language">create_language</a>
    <table data-result="/Language/ListData/"></table>
</div>