* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
    background-color: #F2F2F2;
    color: #333;
    font-size: 15px;
}

/* scroll bar width */

::-webkit-scrollbar {
    width: 10px;
}

/* scroll bar Track */

::-webkit-scrollbar-track {
    background: white;
}

/*  scroll bar Handle */

::-webkit-scrollbar-thumb {
    background: #3698D9;

    &:hover {
        background: #555;
    }
}

/*  scroll bar Handle on hover */

main {
    width: 89%;
    margin: 34px auto;
    background-color: white;
    padding: 2%;
    box-shadow: 3px 4px 5px #888888;

    div {
        min-height: 39px;
        color: #278FB2;
        background-color: white;
    }

    span, label, h1, a, ul {
        background-color: white;
        margin: 5px 0px 0px 0px;
    }

    img {
        height: 34px;
        padding-left: 15px;
        margin-top: 3px;
        margin-bottom: 5px;
        background-color: white;

        &.detail-flag {
            height: 34px;
            margin-top: 3px;
            margin-bottom: 5px;
            padding-left:0px;
        }
    }

    ul li {
        margin-left: 2%;
        background-color: white;
    }
}

footer {
    width: 89%;
    margin: 34px auto;
}

.header {
    background-color: #007BA4;
    height: 30px;
    padding: 10px;
    margin: 0;    

    a {
        margin: 21px auto;
        color: whitesmoke;
        background-color: #007BA4;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 19px;
    }
}

.header-components {
    display: inline-block;
    list-style: none;
    float: right;
}

.account {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid;

    option {
        color: black;
    }
}

.header-components {
    display: flex;
    height: 30px;

    :first-child {
        position: relative;

        div {
            position: absolute;
            top: 100%;
            left: 0;
        }
    }

    li {   
        
        display: inline-block;
        background-color: #007ba4;
        margin-left: 10px;
        margin-right: 20px;

        form {
            background-color: inherit;
        }
    }
}

.register-links {
    float: right;
    margin-top: -36px;
    margin-right: 55px;

    a {
        color: white;
        text-decoration: none;
        margin: 0 9px;

        &:hover {
            color: white;
            border-bottom: 1px solid white;
            padding-bottom: 4px;
        }
    }
}

.nav-brand {
    background-color: #007BA4;
    color: white;
}

.background-blue {
    background-color: #007BA4;
}

/* Style the buttons inside the tab */

.tab-header button {
    background-color: inherit;
    float: left;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #007BA4;
}

/* Change background color of buttons on hover */

.tab button:hover, main form {
    background-color: white;
}

/* Create an active/current tablink class */

.tab-header button.active {
    background-color: #007BA4;
    color: white;
}

/* Style the tab content */

.tab-content {
    display: none;
    padding: 6px 12px;
    background-color: white;
    border-top: none;

    &:first-child{
        display: block;
    }
}

.tab-header {
    background-color: #F0F8FE !important;
    height: 51px;
    margin-top: 1%;
}

.tab-body {
    padding: 6px 12px;
    background-color: white;
}

/* a {
    margin-top: 5px;
    margin-bottom: 8px;
    margin-right: 5px;
    color: #3d839f; 
  } */


h1 {
    font-size: 29px;
    margin-bottom: 21px;
    color: #212F3D;
    letter-spacing: 1px;
}

h2 {
    margin-bottom: 13px;
    font-size: 21px;
    letter-spacing: 2px;
    color: #ff7f50;
    text-decoration: underline;
}

select {
    border-bottom: 1px solid #999;
    padding: 5px 13px 5px 0;
    cursor: pointer;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-top: 8px;
}

input {
    display: block;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-top: 8px;
    font-size: 13px;
    line-height: 21px;
    padding: 5px;
    font-style: italic;
    border: 1px solid #999;
    width: 34%;
}

button {
    display: block;
    font-weight: bold;
    padding: 8px;
    background-color: #84cae6;
    color: #3d839f;
    border-radius: 3px;
    cursor: pointer;
}

.secretSpan {
    float: left;
    margin-top: 4px;
}

.secretButton {
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 13px;
    font-style: italic;

    li {
        color: red;
        font-weight: normal;
        margin: 6px;
        list-style-type: square;
    }
}

.longinput input {
    width: 55%;
}

.shortinput input {
    width: 21%;
}

input {
    &[type=radio], &[type=checkbox] {
        width: auto;
        zoom: 1.5;
    }
}

.error-messages {
    margin: 7px;
    padding-left: 21px;
    margin-left: 0;

    li {
        color: red;
        list-style-type: square;
    }
}

.bottom-links {
    background-color: white;
    display: inline-block;

    a {
        display: block;
        color: #fff;
        background-color: #37bff2;
        padding: 7px;
        text-decoration: none;
        border-radius: 10px;
        min-width: 150px;
        text-align: center;
    }

    button {
        display: block;
        margin: 7px 0px;
    }

    form {
        background-color: white;
    }

    a:hover {
        background-color: #3698d9;

    }
}

.login-form {
    background-color: white;
}

button[type=submit] {
    margin-bottom: 8px;
}

.btnGreen {
    background: #36b036;
    color: #fff;
}

.btnRed {
    background: #a5221e;
    color: #fff;
}

.show {
    display: block;
}
