* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
    background-color: #F2F2F2;
    color: #333;
    font-size: 15px;
}

/* scroll bar width */

::-webkit-scrollbar {
    width: 10px;
}

/* scroll bar Track */

::-webkit-scrollbar-track {
    background: white;
}

/*  scroll bar Handle */

::-webkit-scrollbar-thumb {
    background: #3698D9;

    &:hover {
        background: #555;
    }
}

/*  scroll bar Handle on hover */

main {    
    width: 89%;
    margin: 34px auto;
    background-color: white;
    padding: 2%;
    box-shadow: 3px 4px 5px #888888;

    div {
        min-height: 39px;
        color: #278FB2;
        background-color: white;
    }

    span, label, h1, a, ul {
        background-color: white;
        margin: 5px 0px 0px 0px;
    }

    img {
        height: 34px;
        padding-left: 15px;
        margin-top: 3px;
        margin-bottom: 5px;
        background-color: white;
    }

    ul li {
        margin-left: 2%;
        background-color: white;
    }
}

footer {
    width: 89%;
    margin: 34px auto;
}

.header {
    background-color: #007BA4;
    height: 30px;
    padding: 0.5%;
    margin: 0;    

    a {
        margin: 21px auto;
        color: whitesmoke;
        background-color: #007BA4;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 19px;
    }
}

.header-components {
    display: inline-block;
    list-style: none;
    float: right;
}

.account {
    background-color: transparent;
    position: absolute;
    right: 255px;
    top: 5px;
    color: white;
    border-bottom: 1px solid;

    option {
        color: black;
    }
}

.header-components li {
    display: inline-block;
}

.register-links {
    float: right;
    margin-top: -36px;
    margin-right: 55px;

    a {
        color: white;
        text-decoration: none;
        margin: 0 9px;

        &:hover {
            color: white;
            border-bottom: 1px solid white;
            padding-bottom: 4px;
        }
    }
}

.nav-brand {
    background-color: #007BA4;
    color: white;
}

.background-blue {
    background-color: #007BA4;
}

/* Style the buttons inside the tab */

.tab-header button {
    background-color: inherit;
    float: left;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #007BA4;
}

/* Change background color of buttons on hover */

.tab button:hover, main form {
    background-color: white;
}

/* Create an active/current tablink class */

.tab-header button.active {
    background-color: #007BA4;
    color: white;
}

/* Style the tab content */

.tab-content {
    display: none;
    padding: 6px 12px;
    background-color: white;
    border-top: none;
}

.tab-header {
    background-color: #F0F8FE !important;
    height: 51px;
    margin-top: 1%;
    border-bottom: 2px solid #007BA4;
}

.tab-body {
    padding: 6px 12px;
    background-color: white;
}

/* a {
    margin-top: 5px;
    margin-bottom: 8px;
    margin-right: 5px;
    color: #3d839f; 
  } */

.textsearch {
    margin-top: -3px;
    height: 37px;
    padding: 16px 12px 4px 55px;
}

h1 {
    font-size: 29px;
    margin-bottom: 21px;
    color: #212F3D;
    letter-spacing: 1px;
}

h2 {
    margin-bottom: 13px;
    font-size: 21px;
    letter-spacing: 2px;
    color: #ff7f50;
    text-decoration: underline;
}

select {
    border-bottom: 1px solid #999;
    padding: 5px 13px 5px 0;
    cursor: pointer;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-top: 8px;
}

input {
    display: block;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-top: 8px;
    font-size: 13px;
    line-height: 21px;
    padding: 5px;
    font-style: italic;
    border: 1px solid #999;
    width: 34%;
}

button {
    display: block;
    font-weight: bold;
    padding: 8px;
    background-color: #84cae6;
    color: #3d839f;
    border-radius: 3px;
    cursor: pointer;
}

.secretSpan {
    float: left;
    margin-top: 4px;
}

.secretButton {
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 13px;
    font-style: italic;

    li {
        color: red;
        font-weight: normal;
        margin: 6px;
        list-style-type: square;
    }
}

.longinput input {
    width: 55%;
}

.shortinput input {
    width: 21%;
}

input {
    &[type=radio], &[type=checkbox] {
        width: auto;
        zoom: 1.5;
    }
}

.error-messages {
    margin: 7px;
    padding-left: 21px;
    margin-left: 0;

    li {
        color: red;
        list-style-type: square;
    }
}

.bottom-links {
    background-color: white;
    display: inline-block;

    a {
        background-color: white;
        display: block;
        color: #37BFF2;
        text-decoration: underline;
    }

    button {
        display: block;
        margin: 7px 0px;
    }

    form {
        background-color: white;
    }

    a:hover {
        color: #007BA4;
    }
}

.login-form {
    background-color: white;
}

button[type=submit] {
    margin-bottom: 8px;
}

.btnGreen {
    background: #36b036;
    color: #fff;
}

.btnRed {
    background: #a5221e;
    color: #fff;
}

#overlay {
    background-color: #333;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 2023;
    display: none;
    opacity: .8;
    transition: all 1s ease-in-out;
}

#overlayMessage {
    background-color: #333;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 2023;
    display: none;
    opacity: .8;
    transition: all 1s ease-in-out;
    z-index: 4023;
}

#popup {
    padding: 13px;
    border: 3px solid #fff;
    box-shadow: 2px 2px 2px #444;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    overflow: auto;
    z-index: 3023;
    display: none;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in-out;

    div button {
        float: left;
        margin: 5px;
    }
}

#popupMessage {
    padding: 13px;
    border: 3px solid #fff;
    box-shadow: 2px 2px 2px #444;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    overflow: auto;
    z-index: 3023;
    display: none;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in-out;
    z-index: 5023;
    text-align: center;

    div button {
        float: left;
        margin: 5px;
    }
}

#btnHidePopup, #btnHidePopupMessage {
    float: right;
    margin-top: -8px;
    padding-top: 3px;
}

@keyframes

"fadeIn" {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes

"spin" {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.select {
    position: relative;
    width: calc(34% + 10px);
    min-height: 31px;
    border: 1px solid #808080;
    margin-top: 8px;

    div {
        min-height: unset;

        .active-item {
            margin-right: 4px;
            display: flex;

            .remove-active-item {
                height: 17px;
                width: 15px;
                margin: 4px;
                padding: 0px;
                font-size: 12px;
                color: white;
                background-color: indianred;
            }
        }

        span {
            margin-top: 0px;
            margin-right: 3px;
            padding: 2px;
        }
    }

    .select-button {
        position: relative;
        cursor: pointer;
        display: flex;
        overflow: scroll;

        .select-button-input {
            display: inline-block;
            min-width: 100px;
            min-height: 18px;
            border: none;
            vertical-align: middle;

            &:focus {
                outline: 0;
            }
        }

        .clear-select-button {
            float: right;
            background: transparent;
            border: none;
            cursor: pointer;
            transition: .2s all;
            margin: 0;
            padding: 2px 4px;

            &:hover {
                background: #999;
                color: #fff;
            }
        }

        .loader {
            position: absolute;
        }
    }

    .select-item-info-btn {
        position: absolute;
        right: -40px;
        width: 30px;
        height: 30px;
        top: 0;
        background: #999;
        border: 1px solid #999;
        color: #fff;
        transition: .2s all;
        margin: 0;

        &:hover {
            border-color: #999;
            background: #fff;
            color: #999;
        }
    }

    .select-info-wrapper {
        display: none;
        position: absolute;
        top: 0;
        left: calc(100% + 50px);
        width: 300px;
        height: 200px;
        border: 1px solid #999;
        background: #fff;
        padding: 5px;
        animation: 1s fadeIn;
        z-index: 10;

        .close-popover-btn {
            margin: 0;
            float: right;
        }

        .select-info-header {
            display: flex;
            align-items: center;
            background: none;

            .select-info-img {
                width: 8%;
                background: none;
            }

            .select-info-title {
                margin-left: 10px;
                width: 70%;
                background: none;
            }
        }

        &.show {
            display: block;
        }
    }

    .select-content {
        display: none;
        position: absolute;
        left: -1px;
        top: 27px;
        z-index: 100;
        width: 100%;
        border: 1px solid #808080;
        max-height: 120px;
        overflow-y: auto;
        animation: fadeIn 1s;
        scrollbar-color: #999 #f1f1f1;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: white;
        }

        &::-webkit-scrollbar-thumb {
            cursor: pointer;
            background: #999;
        }

        .select-item {
            padding: 5px;
            transition: .3s all;
            cursor: pointer;

            &:hover {
                background-color: #808080;
            }

            &.active {
                display: none;
            }

            &.hover {
                background-color: #F0F8FE;
            }
        }
    }

    .select-item.content-item {
        display: flex;
        align-items: center;

        .select-item-image {
            width: 8%;
            background: transparent;
        }

        .select-item-text {
            margin-left: 10px;
            background: transparent;
        }
    }
}

.single-select .select-button {
    display: flex;

    .select-button-input {
        width: 100%;
    }

    &.disabled {
        pointer-events: none;
        opacity: .4;
        cursor: not-allowed;
    }
}

.radio-select.single-select .select-button {
    display: inline-block;
}

.select.show .select-content {
    display: block;
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #999;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

.radio-select {
    width: 600px;
}

ca .radio-select .select-info-wrapper {
    right: -365px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.tbl {
    margin-bottom: 13px;
    min-height: 111px;
    background-color: white;

    input {
        display: inline;
        width: 34px;
        font-size: 11px;
        line-height: 13px;
        margin-left: 5px;
        margin-bottom: 8px;
    }

    a {
        display: inline;
        color: #37BFF2;
        background-color: white;

        &:hover {
            color: #007BA4;
        }
    }

    table {
        border-collapse: collapse;
        margin-top: 8px;
        margin-bottom: 34px;
        width: 100%;
        background-color: white;

        thead th {
            background: #3698D9;
            color: white;
            padding: 12px;
            margin: 0;
            border-right: 1px solid white;
            text-align: center;
        }

        tbody {
            a {
                margin: 3px;
                color: #333;
                background-color: white;
            }

            tr:nth-child(even) td {
                background-color: #f2f2f2;

                a, span {
                    background-color: #f2f2f2;
                }
            }
        }
    }
}

tbody tr td {
    padding: 7px;
    padding-left: 8px;
    background-color: white;
    text-align: center;
    border-bottom: 1px solid #F2F2F3;
}

.tbl {
    table {
        tbody tr {
            td {
                input {
                    margin: 2px;
                }

                .secretSpan {
                    float: left;
                    background-color: white;
                    margin-top: 4px;
                }

                .secretButton {
                    margin-left: 5px;
                    text-decoration: underline;
                    cursor: pointer;
                    background-color: white;
                }
            }

            img {
                width: 55px;
                vertical-align: middle;
            }

            &:nth-child(even) {
                background-color: #f2f2f2;
            }
        }

        .selectable {
            width: 34px;
        }
    }

    button {
        display: inline;
        font-size: 11px;
        line-height: 10px;
        margin-left: 5px;
        margin-top: 5px;
    }
}

/*.tbl table tbody tr td:last-child {
          text-align: right
      }*/

.pagination {
    margin-top: -34px;

    button {
        margin-right: 3px;
    }

    span {
        font-size: 15px;
        padding: 5px;
        color: #84cae6;
        font-weight: bold;
        text-align: center;

        &:last-of-type {
            color: #333;
        }
    }
}

#txtSearch {
    display: block;
    font-size: 13px;
    line-height: 21px;
    border: 1px solid #999;
    width: auto;
    box-sizing: border-box;
    background-image: url("../plugins/search/css/searchicon.png");
    background-position: 10px 9px;
    background-repeat: no-repeat;
    background-color: white;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    position: absolute;
    top: 7px;
    right: 4px;

    &:focus {
        outline: 3px solid #ddd;
    }
}

.search {
    position: relative;
    display: inline-block;
    float: right;

    a {
        font-size: 12px;

        &:hover {
            background-color: #F0F8FE;
        }
    }

    p {
        background-color: #ddd;
        font-size: 14px;
    }
}

.search-content {
    display: none;
    position: absolute;
    right: 4px;
    top: 41px;
    min-width: 400px;
    overflow: auto;
    border: 1px solid #F2F2F2;
    z-index: 1;
    box-shadow: -4px 8px 16px -3px #888888;

    a {
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        background-color: white;
        text-align: right;
        text-transform: lowercase;
        display: block;
        margin: 0;
        border-bottom: 1px solid #F0F8FE;
    }
}

.search-table {
    width: 60%;
}

.list-item-selected {
    background-color: #ddd;
}

#allSearchListLink {
    color: #00f;
}

.show {
    display: block;
}

.searchResults {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}
