* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
    color: #333;
    font-size: 21px;
    background-color: #ffe;
}

main {
    min-height: 610px;
}

main, footer, header {
    width: 89%;
    margin: 34px auto;
}

header a {
    font-size: 55px;
    margin: 21px auto;
    color: #900C3F;
    text-decoration: none;
}

a {
    margin: 5px;
    color: cadetblue;
}

h1 {
    font-size: 34px;
    margin-bottom: 21px;
    color: #212F3D;
}

h2 {
    margin: 13px;
    font-size: 21px;
    letter-spacing: 2px;
    color: coral;
    text-decoration: underline;
}

label, input, button {
    display: block;
    margin: 3px;
    margin-top: 8px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 13px;
    font-style: italic;
}

input {
    font-size: 13px;
    line-height: 21px;
    padding: 5px;
    margin-top: 13px;
    font-style: italic;
    border: 1px solid #999;
    width: 34%;
}

.longinput input {
    width: 55%;
}

.shortinput input {
    width: 21%;
}

input[type=radio], input[type=checkbox] {
    width: auto;
    zoom: 1.5;
}

button {
    font-weight: bold;
    padding: 8px;
    margin-top: 21px;
    background-color: #0A7CD5;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.error-messages {
    margin: 5px;
    padding-left: 34px;
}

.error-messages li {
    color: red;
    list-style-type: square;
}