@model TranslationProviderDetailModel

<label data-translation="translation_provider_name">translation_provider_name</label>
<div>@Model.Name</div>

<div>
    <label data-translation="description">description</label>
    <div>@Model.Description</div>
</div>

<div class="bottom-links">
    <a href="/TranslationProvider/Edit/@Model.TranslationProviderUid" data-translation="edit_link">edit_link</a>
    <a href="/TranslationProvider/list" data-translation="translation_providers_link">translation_providers_link</a>
</div>

<div data-translation="translation_provider_info">translation_provider_info</div>

<div>
    <label class="content" data-translation="translation_provider_value_content">translation_provider_value_content</label>
    <div id="api-value">@Model.Value</div>
</div>

@section Scripts {
    <script>
        var element = document.getElementById("api-value");
        var tableChangeInterval = setInterval(() => {
            clearInterval(tableChangeInterval);
            var secretField = new SecretField(element, 1);
            secretField.hide();
        }, 5);
    </script>
}
