@model TranslationProviderListModel

<partial name="DashboardLink" />
<h1 data-translation="@Model.Title">@Model.Title</h1>

<div class="tbl">
    <table data-result="/TranslationProvider/ListData/"></table>
</div>