<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PostmarkKey"  value="" />
    <add key="PostmarkEmail"  value="cheviri@basicsoft.co" />
    <add key="DbHostName"  value="cheviridb" />
    <add key="DbName"  value="cheviri" />
    <add key="DbUser"  value="postgres" />
    <add key="DbPassword"  value="cheviri*pass" />
  </appSettings>
</configuration>