<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceUrl"  value="https://localhost:14435" />
    <add key="ServiceClientId"  value="ed38cae5-e715-41fb-aaf7-1ba1c217c87f" />
    <add key="ServiceClientSecret"  value="8cf6c443-fc95-41f6-b736-2f4fa070cbc4" />
    <add key="ProjectFolder" value="C:\Work\Anatolia\translation\Source" />
    <add key="ProjectUid" value="be8b0117-a5b8-4457-9d0c-cafee88e212b" />
    <add key="LanguageIsoCode2" value="tr,en,ru" />
  </appSettings>
</configuration>