<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceUrl"  value="https://localhost:14435" />
    <add key="ServiceClientId"  value="" />
    <add key="ServiceClientSecret"  value="" />
    <add key="ProjectFolder" value="C:\Work\Anatolia\translation\Source" />
    <add key="ProjectUid" value="" />
  </appSettings>
</configuration>