<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceUrl"  value="https://localhost:14435" />
    <add key="ServiceClientId"  value="23ba2fd1-44a5-4213-bdff-3231b27075c5" />
    <add key="ServiceClientSecret"  value="4314d73a-a4b5-44cb-a6e9-2f23528a40ce" />
    <add key="ProjectFolder" value="C:\Work\Anatolia\translation\Source" />
    <add key="ProjectUid" value="ef2be284-2d84-4fd6-bb80-926c32ecab6a" />
  </appSettings>
</configuration>